#include <windows.h>
#include "dlgtest.idh"


ID_TESTBW DIALOG 28, 45, 193, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "BIF/Window dialog test program"
FONT 8, "Helv"
BEGIN
  EDITTEXT 101, 9, 7, 88, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
  GROUPBOX "Group", -1, 9, 29, 88, 56, BS_GROUPBOX | WS_GROUP
  CONTROL "Radio 1", 103, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 16, 41, 60, 12
  CONTROL "Radio 2", 104, "BUTTON", BS_AUTORADIOBUTTON, 16, 54, 60, 12
  CONTROL "Radio 3", 105, "BUTTON", BS_AUTORADIOBUTTON, 16, 67, 60, 12
  CHECKBOX "Checkbox", 106, 110, 9, 75, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
  LISTBOX 102, 110, 29, 75, 58, LBS_STANDARD | WS_GROUP | WS_TABSTOP
  DEFPUSHBUTTON "OK", IDOK, 10, 98, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 71, 98, 50, 14
  PUSHBUTTON "Help", 998, 132, 98, 50, 14
END

